body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:49px;
  width:267px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:222px;
  top:52px;
  width:15px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:52px;
  width:10px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:52px;
  width:15px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:44px;
  top:52px;
  width:15px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:241px;
  top:55px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:199px;
  top:52px;
  width:15px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:13px;
  top:71px;
  width:267px;
  height:36px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:13px;
  top:106px;
  width:267px;
  height:100px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:100px;
}
#u19 {
  position:absolute;
  left:2px;
  top:42px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:25px;
  top:121px;
  width:70px;
  height:70px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:130px;
  top:115px;
  width:106px;
  height:16px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:113px;
  top:141px;
  width:140px;
  height:48px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:48px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:13px;
  top:205px;
  width:267px;
  height:225px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:225px;
}
#u27 {
  position:absolute;
  left:2px;
  top:104px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:17px;
  top:205px;
  width:260px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:224px;
  width:253px;
  height:199px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:199px;
}
#u31 {
  position:absolute;
  left:2px;
  top:92px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:13px;
  top:425px;
  width:267px;
  height:38px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:38px;
}
#u33 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:13px;
  top:463px;
  width:267px;
  height:36px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:186px;
  top:463px;
  width:36px;
  height:36px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u37_img.mouseOver {
}
#u37.mouseOver {
  opacity:0.5;
}
#u38 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:71px;
  top:463px;
  width:36px;
  height:36px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
  opacity:0.5;
}
#u40 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:13px;
  top:463px;
  width:36px;
  height:36px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
  opacity:0.5;
}
#u42 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:244px;
  top:463px;
  width:36px;
  height:36px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
  opacity:0.5;
}
#u44 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:129px;
  top:464px;
  width:36px;
  height:34px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u45_img.mouseOver {
}
#u45.mouseOver {
  opacity:0.5;
}
#u46 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:45px;
  top:378px;
  width:204px;
  height:86px;
  opacity:0.6;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:86px;
}
#u48 {
  position:absolute;
  left:2px;
  top:35px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:47px;
  top:382px;
  width:200px;
  height:25px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:47px;
  top:409px;
  width:200px;
  height:25px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u52 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:47px;
  top:436px;
  width:200px;
  height:25px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u54 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:45px;
  top:351px;
  width:204px;
  height:112px;
  opacity:0.6;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:112px;
}
#u56 {
  position:absolute;
  left:2px;
  top:48px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:47px;
  top:353px;
  width:200px;
  height:30px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:47px;
  top:392px;
  width:200px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:47px;
  top:432px;
  width:200px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:129px;
  top:242px;
  visibility:hidden;
}
#u63_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:199px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:199px;
}
#u65 {
  position:absolute;
  left:2px;
  top:92px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u67 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1px;
  top:24px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:119px;
  width:150px;
  height:24px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:1px;
  top:143px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:1px;
  top:160px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1px;
  top:177px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:42px;
  width:150px;
  height:25px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
}
#u79 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1px;
  top:67px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:1px;
  top:84px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:1px;
  top:101px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:0px;
  top:198px;
  width:150px;
  height:24px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u87 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
