body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:49px;
  width:267px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:222px;
  top:52px;
  width:15px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:52px;
  width:10px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:52px;
  width:15px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:44px;
  top:52px;
  width:15px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:241px;
  top:55px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:199px;
  top:52px;
  width:15px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:13px;
  top:71px;
  width:267px;
  height:36px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:263px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:13px;
  top:463px;
  width:267px;
  height:36px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:36px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:186px;
  top:463px;
  width:36px;
  height:36px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
  opacity:0.5;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:71px;
  top:463px;
  width:36px;
  height:36px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
  opacity:0.5;
}
#u24 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:13px;
  top:463px;
  width:36px;
  height:36px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
  opacity:0.5;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:244px;
  top:463px;
  width:36px;
  height:36px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u27_img.mouseOver {
}
#u27.mouseOver {
  opacity:0.5;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:129px;
  top:464px;
  width:36px;
  height:34px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:34px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
  opacity:0.5;
}
#u30 {
  position:absolute;
  left:2px;
  top:9px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:45px;
  top:378px;
  width:204px;
  height:86px;
  opacity:0.6;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:86px;
}
#u32 {
  position:absolute;
  left:2px;
  top:35px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:47px;
  top:382px;
  width:200px;
  height:25px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:47px;
  top:409px;
  width:200px;
  height:25px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u36 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:47px;
  top:436px;
  width:200px;
  height:25px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u38 {
  position:absolute;
  left:2px;
  top:4px;
  width:196px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:45px;
  top:351px;
  width:204px;
  height:112px;
  opacity:0.6;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:112px;
}
#u40 {
  position:absolute;
  left:2px;
  top:48px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:47px;
  top:353px;
  width:200px;
  height:30px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:47px;
  top:392px;
  width:200px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:47px;
  top:432px;
  width:200px;
  height:30px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:129px;
  top:242px;
  visibility:hidden;
}
#u47_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:199px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:199px;
}
#u49 {
  position:absolute;
  left:2px;
  top:92px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1px;
  top:24px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u53 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:0px;
  top:119px;
  width:150px;
  height:24px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u55 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:1px;
  top:143px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:1px;
  top:160px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u59 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:1px;
  top:177px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u61 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:0px;
  top:42px;
  width:150px;
  height:25px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
}
#u63 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:1px;
  top:67px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u65 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:1px;
  top:84px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:1px;
  top:101px;
  width:148px;
  height:18px;
  font-size:11px;
  text-align:right;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:18px;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:0px;
  top:198px;
  width:150px;
  height:24px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:24px;
}
#u71 {
  position:absolute;
  left:2px;
  top:4px;
  width:146px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:13px;
  top:110px;
  width:267px;
  height:353px;
  overflow:hidden;
}
#u72_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:353px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u72_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73 {
  position:absolute;
  left:0px;
  top:131px;
  width:267px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:8px;
  top:1px;
  width:250px;
  height:125px;
  overflow:hidden;
}
#u75_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u77 {
  position:absolute;
  left:2px;
  top:54px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u79 {
  position:absolute;
  left:2px;
  top:54px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u81 {
  position:absolute;
  left:2px;
  top:54px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u75_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:125px;
}
#u83 {
  position:absolute;
  left:2px;
  top:54px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:7px;
  top:0px;
  width:252px;
  height:127px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:127px;
}
#u85 {
  position:absolute;
  left:2px;
  top:56px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:8px;
  top:153px;
  width:251px;
  height:195px;
  overflow:hidden;
}
#u86_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:195px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u86_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u87 {
  position:absolute;
  left:498px;
  top:0px;
  width:250px;
  height:185px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u88 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:748px;
  top:0px;
  width:250px;
  height:185px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u90 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u92 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:249px;
  top:0px;
  width:250px;
  height:185px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u94 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:353px;
  width:267px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:8px;
  top:375px;
  width:251px;
  height:195px;
  overflow:hidden;
}
#u97_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:195px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98 {
  position:absolute;
  left:498px;
  top:0px;
  width:250px;
  height:185px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u99 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:748px;
  top:0px;
  width:250px;
  height:185px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u101 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u103 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:249px;
  top:0px;
  width:250px;
  height:185px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u105 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:0px;
  top:573px;
  width:267px;
  height:16px;
  color:#000000;
  text-align:center;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:8px;
  top:595px;
  width:251px;
  height:195px;
  overflow:hidden;
}
#u108_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:195px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  position:absolute;
  left:498px;
  top:0px;
  width:250px;
  height:185px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u110 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:748px;
  top:0px;
  width:250px;
  height:185px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u112 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u114 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:249px;
  top:0px;
  width:250px;
  height:185px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:185px;
}
#u116 {
  position:absolute;
  left:2px;
  top:84px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
