body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:293px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:550px;
}
#u1 {
  position:absolute;
  left:2px;
  top:267px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:49px;
  width:267px;
  height:22px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:22px;
}
#u3 {
  position:absolute;
  left:2px;
  top:3px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:222px;
  top:52px;
  width:15px;
  height:15px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:52px;
  width:10px;
  height:15px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:24px;
  top:52px;
  width:15px;
  height:15px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:44px;
  top:52px;
  width:15px;
  height:15px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:241px;
  top:55px;
  width:16px;
  height:10px;
  font-size:8px;
  color:#BFBFBF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:199px;
  top:52px;
  width:15px;
  height:15px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:12px;
  top:71px;
  width:268px;
  height:429px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:429px;
}
#u17 {
  position:absolute;
  left:2px;
  top:206px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:68px;
  top:256px;
  width:157px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:96px;
  top:430px;
  width:100px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
